/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.container {
	text-align: center;
}

.navbar-default {
	background-color: #3e3e3e;
	color: #fefefe;
}

.navbar-default .navbar-brand {
    color: #fefefe;
}

.navbar-default .navbar-nav > li > a {
    color: #fefefe;
}

.container p {
	margin-top: 1em;
	margin-bottom: 1em;
}

.col-md-4 {
	float: left;
}

div#col1 {
	float: left;
	width: 100%;
}

div.row p {
	text-align: left;
}

div#col1 {
	text-align: left;
}

div#file_buttons, div#research_button {
	display: inline-block;
	vertical-align: top;
}

div#research_button {
	margin-left: 30px;
}

div#user {
	text-align: center;
}

/*div#buttons {
	margin-top: 1em;
	margin-bottom: 1em;
}

div#buttons input, div#buttons button {
	margin-right: 2em;
	text-align: center;
}

input[type="file"] {
	display: inline;
}

div#buttons fieldset {
	display: inline-block;
	width: 25%;
	vertical-align: top;
}*/
